pkgbase = beaver-notes
	pkgdesc = A privacy-focused, cross-platform note-taking application.
	pkgver = 2.5.0
	pkgrel = 1
	url = https://www.beavernotes.com/
	arch = x86_64
	license = MIT
	makedepends = asar
	makedepends = npm
	makedepends = yarn
	makedepends = nodejs
	makedepends = imagemagick
	makedepends = libxcrypt-compat
	depends = electron
	provides = beaver-notes
	source = beaver-notes-2.5.0.tar.gz::https://github.com/Daniele-rolli/Beaver-Notes/archive/refs/tags/2.5.0.tar.gz
	source = beaver-notes.desktop
	source = no-font.patch
	sha256sums = 33c419603fe88a164660adb8a37abca66433260e98008e030615e8bc615a407f
	sha256sums = 4475ac27a250fd89667e0c7130863e666725c7f41a605df5a05889515b29cfb3
	sha256sums = faf1f0ca0b1f99116d722edf437f94502a2cc1e8fe64ff22bfec209716535bab

pkgname = beaver-notes
